<div class="form-container">
  <ng-container *ngIf="!showRegister; else showRegisterTemplate">
    <h2>Login</h2>

    <form (submit)="tryLogin()" [formGroup]="form">
      <mat-form-field testid="username-ff">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>

      <mat-form-field testid="password-ff">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>

      <div class="form-footer">
        <a (click)="registerClicked()">Register</a>
        <button type="submit" mat-raised-button color="primary" testid="submit">Submit</button>
      </div>
    </form>
  </ng-container>

  <ng-template #showRegisterTemplate>
    <app-register (registerAbort)="showRegister = false"
                  (registerComplete)="showRegister = false"></app-register>
  </ng-template>
</div>
